.popup__close {
  background-image: url('../../../images/close-button.svg');
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  width: 58px;
  height: 58px;
  border-style: none;
  position: absolute;
  top: -50px;
  right: -55px;
  opacity: 1;
  transition: opacity .4s linear;
}

.popup__close:hover {
  cursor: pointer;
  opacity: .6;
}

@media (max-width: 514px) {
  .popup__close {
    width: 36px;
    height: 36px;
    top: -40px;
    right: -10px;
  }
}
