.header__navigation-zone {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 18px;
}
@media (max-width: 950px) {
  .header__navigation-zone {
    margin-right: 28px;
  }
}
