.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  padding: 36px;
  border-radius: 10px;
  margin: auto;
}

@media (max-width: 514px) {
  .popup__container {
    padding: 25px;
  }
}
