.person {
  display: flex;
  align-items: center;
}

@media (max-width: 772px) {
  .person {
    /*width: 100%;*/
    /*justify-content: space-between;*/
    padding-bottom: 36px;
  }
}

@media (max-width: 514px) {
  .person {
    flex-direction: column;
  }
}
