.popup__submit {
  background-color: #000;
  height: 50px;
  width: 100%;
  margin: 40px 0 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  opacity: 1;
  transition: opacity .4s linear;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 514px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
